html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #4a4a4a;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

a:hover {
  cursor: pointer;
}

.texts__wrapper {
  display: flex;
  justify-content: center;
}

.texts {
  text-align: left;
  max-width: 800px;
  margin: 75px 5vw;
  font-family: "Open Sans", sans-serif;
}

.perex {
  font-size: 1.5rem;
  line-height: 1.4;
}

.description {
  margin: 30px 0 0 0;
  line-height: 1.8;
  font-weight: 400;
}

/***************************************** MAIN COMPONENT STYLING */
body {
  background-color: whitesmoke;
}

.wrapper {
  width: 90vw;
  max-width: 1600px;
  background-color: #FFF;
  margin: 0 auto;
}

/***************************************** HEADER AND NAV */
header {
  height: 100px;
  max-width: 100%;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  border-bottom: 3px solid whitesmoke;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.nav__ul {
  display: flex;
  align-items: center;
  height: 100px;
  font-weight: 600;
}

.nav__ul--left {
  margin-left: 15px;
  gap: 30px;
  font-size: 20px;
  color: black;
}

.nav__plus {
  margin-left: 5px;
}

.nav__icon {
  height: 60px;
}

.nav__ul--right {
  gap: 30px;
  margin-right: 35px;
}

.nav__try__button {
  color: blue;
  font-size: 0.8vw;
  white-space: nowrap;
}

.nav__login__button {
  font-size: 0.7vw;
  white-space: nowrap;
}

/*/////////////////// HAMBURGER MENU */
#nav__ham__toggle {
  position: static;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#nav__ham input {
  display: none;
}

#nav__ham__toggle input:checked ~ div {
  top: 65px;
}

.nav__ham__text {
  color: #ff764d;
  white-space: nowrap;
}

.nav__ham__text:hover {
  cursor: pointer;
}

#ham__menu {
  background-color: #FFFFFF;
  width: 90vw;
  height: 450px;
  position: absolute;
  top: -1500px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: top 0.3s ease-in-out;
  box-sizing: border-box;
  border-bottom: 3px solid whitesmoke;
  z-index: 10;
  margin: 0 5vw;
}

.ham__menu__section {
  padding: 40px 0 0 15px;
}

.ham__menu__headline {
  color: #000;
  font-size: 1.5rem;
}

.ham__menu__ul {
  margin: 60px 25px 45px 0;
  font-size: 0.8vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.2vw;
  font-weight: 300;
  gap: 10px;
}

.ham__menu__section--two {
  margin: 25px 0 0;
}

.ham__menu__articles {
  display: flex;
  gap: 25px;
}

.ham__menu__chapter {
  max-width: 400px;
  text-align: left;
  margin: 25px 0;
  font-size: 1.2vw;
}

.ham__menu__text {
  font-weight: 300;
  line-height: 1.3;
  margin-top: 5px;
}

/***************************************** MOBILE HEADER */
.header__mobile {
  display: none;
  height: 65px;
  max-width: 100%;
  font-family: "Raleway", sans-serif;
  align-items: center;
  border-bottom: 3px solid whitesmoke;
}

.nav__mobile {
  justify-content: flex-start;
}

.nav__ul--left li {
  z-index: 50;
}

/************* MOBILE HAMBURGER */
#nav__ham__toggle--mobile input:checked ~ div {
  top: 0px;
}

.nav__ham__text--mobile {
  color: #000;
}

.nav__ham__text--mobile span {
  font-size: 8px;
  margin-left: 5px;
  vertical-align: middle;
}

.nav__ham__text--mobile--down {
  color: white;
}

#ham__menu--mobile {
  background-color: blue;
  color: white;
  width: 90vw;
  height: 825px;
  position: absolute;
  top: -825px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: top 0.7s ease-in-out;
  box-sizing: border-box;
  border-bottom: 3px solid whitesmoke;
  z-index: 10;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ham__menu__section--mobile {
  padding: 10px 0 10px 15px;
}

.ham__menu__section--mobile--down {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 0 0 15px;
}

.ham__menu__ul--mobile {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu__ham__button--mobile--bigger {
  color: white;
  font-size: 1.1rem;
}

.menu__ham__login--mobile {
  font-size: 0.6rem;
  color: white;
}

.menu__ham__headline {
  font-size: 0.9rem;
  color: white;
}

.menu__ham__button--mobile {
  color: white;
  font-size: 0.7rem;
}

.ham__menu__headline--mobile {
  font-size: 0.9rem;
}

.ham__menu__section--mobile {
  margin-bottom: 10px;
}

.ham__menu__chapter--mobile {
  font-size: 0.8rem;
}

.ham__menu__section--mobile--three {
  overflow-x: scroll;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0));
}

.ham__menu__articles--mobile {
  width: 850px;
  gap: 25px;
  overflow: hidden;
}

.ham__menu__chapter--mobile {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

/************************************* HERO SECTION */
.hero__nav {
  display: block;
  padding-left: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  position: sticky;
  top: 0px;
}

.hero__nav__ul {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  gap: 30px;
  margin: 35px 0px 35px 0px;
}

.hero__nav__ul span {
  color: #ff764d;
}

.hero__visuals {
  width: 80vw;
  max-width: 100%;
  height: 40vw;
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: center;
  background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&fit=crop&fm=jpg&h=855&ixjsv=1.1.3&w=610%22");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero__visuals::after {
  content: "Ableton";
  align-self: center;
  color: rgb(253, 89, 72);
  font-size: 6vw;
  font-family: "Futura";
  font-weight: 400;
  z-index: 5;
}

.hero__button {
  color: blue;
}

.texts__wrapper--hero {
  padding-top: 1vw;
}

/********************************** YELLOW SECTION START */
.yellow {
  max-width: 1600px;
  max-height: 800px;
  display: flex;
  margin: 20px 0 20px 5vw;
  z-index: 0;
}

.yellow__left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.yellow__left::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 100%;
  background-color: #FBFFA7;
  z-index: 0;
}

.yellow__left__image {
  z-index: 5;
  margin: 50px 0 50px 0;
  padding: 100px 0;
  width: 100%;
  max-width: 400px;
}

.yellow__right {
  background-color: #FBFFA7;
  display: flex;
  flex-grow: 5;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.yellow__right__image {
  background-color: #FBFFA7;
  width: 50%;
  min-width: 100px;
}

/********************************* PEOPLE SECTION */
.people {
  margin: 0 auto;
}

.people__videos {
  display: flex;
  justify-content: center;
}

.people__videos__wrapper {
  max-width: 800px;
  flex: 1;
  margin: 0 5vw;
}

.people__mp4 {
  width: 100%;
}

.people__caption {
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  display: block;
}

/********************************* GREEN SECTION */
.green {
  display: grid;
  margin: 20px 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 0;
}

.green__left {
  grid-column: 1;
  grid-row: 1;
  background-color: #b6ffc0;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  max-height: 500px;
  padding: 50px 0;
  z-index: 0;
}

.green__left--two {
  grid-row: 2;
}

.green__image {
  width: 65%;
  min-width: 45%;
}

.green__image--one,
.green__image--two {
  min-width: 100px;
  place-self: start;
  margin-left: 5vw;
}

.green__right {
  grid-column: 2;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  place-self: center start;
  position: relative;
  height: 100%;
}

.green__image--three {
  z-index: 99;
  margin-left: 20px;
}

.green__right::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 100%;
  background-color: #b6ffc0;
  z-index: 0;
}

/********************************* WORK SECTION */
.work__imagery {
  margin: 0 5vw;
}

.work__img {
  margin: 0 auto;
  display: block;
  width: 100%;
  min-width: 200px;
}

/********************************* PURPLE */
.purple {
  display: grid;
  max-width: 1600px;
  grid-template-columns: 1fr minmax(50px, 610px) minmax(50px, 610px) 2fr;
  grid-template-rows: 100px 1fr 100px;
  margin: 0 0 0 5vw;
}

.purple__left {
  grid-column: 1/3;
  grid-row: 2;
  height: 65%;
  width: 65%;
  background-image: url("/photo-6-a.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  z-index: 5;
  place-self: center start;
  display: flex;
  flex: 1;
}

.purple__mid {
  background-color: #D5B3FF;
  grid-column: 2/4;
  grid-row: 1/4;
  margin: 0 5vw;
}

.purple__right {
  align-self: center;
  justify-self: start;
  grid-column: 3/5;
  grid-row: 2;
  z-index: 5;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.purple__img--right {
  width: 100%;
}

/********************************* EMPLOYEE */
.employee__banner {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
}

.employee__banner__imagery {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex: 1;
  background-image: url("photo-8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 70%;
}

.employee__banner__right {
  grid-row: 1;
  grid-column: 2;
  background-color: #B1C5FF;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.employee__banner__text {
  max-width: 350px;
  font-family: "Avenir";
  padding: 30px;
}

.employee__banner__headline {
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 500;
}

.employee__banner__button {
  margin-top: 40px;
  color: #0000FF;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

/********************************* FOOTER */
.footer {
  margin-top: 100px;
  border-top: 2px solid whitesmoke;
  font-size: 20px;
  font-family: "Futura";
}

.footer__wrapper {
  margin: 100px 20px;
  padding-bottom: 80px;
}

.footer__logo {
  width: 180px;
  height: auto;
}

.footer__main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 50px;
  row-gap: 80px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.footer__chapter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  max-width: 500px;
}

.footer__chapter--register {
  grid-column: 1;
  grid-row: 1;
}

.footer__shl {
  font-weight: 500;
}

.footer__button {
  font-weight: normal;
  font-size: 15px;
  white-space: nowrap;
}

.footer__arrow {
  font-size: 12px;
  margin-left: 5px;
}

.footer__description {
  font-weight: 500;
  line-height: 1.4;
  font-size: 15px;
  white-space: wrap;
}

.footer__register__imagery {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.footer__chapter--education {
  grid-row: 1;
  grid-column: 2;
}

.footer__chapter--signup {
  grid-row: 1;
  grid-column: 3;
}

.footer__form__item {
  display: flex;
  flex: 1;
}

.footer__form__input {
  background-color: #EEEEEE;
  height: 42px;
  padding: 0 0 0 25px;
  border-style: none;
  flex: 1;
}

.footer__form__button {
  background-color: #0000FF;
  color: #FFF;
  width: 120px;
  height: 42px;
  border-style: none;
  padding: unset;
  font-size: 22px;
  vertical-align: middle;
}

.footer__chapter--community {
  grid-row: 2;
  grid-column: 1;
}

.grid__chapter--distributors {
  grid-row: 2;
  grid-column: 2;
}

.footer__chapter--langueloc {
  grid-row: 2;
  grid-column: 3;
}

.footer__select__wrapper {
  display: flex;
  gap: 4px;
  flex: 1;
}

.footer__select {
  background-color: #EEEEEE;
  height: 30px;
  width: 150px;
  border-style: none;
  flex: 1;
}

.footer__secondary {
  grid-row: 3;
  grid-column: span 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  white-space: nowrap;
}

.footer__ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.footer__cc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__lines {
  width: 40px;
  height: auto;
  margin: 0 0 0 10px;
}

/************************  MEDIA QUERRIES *******************************************/
/******** PAGE-WIDE QUERRIES ******/
@media screen and (max-width: 1024px) {
  .perex,
  .description {
    font-size: 16px;
  }
  .texts {
    margin: 35px 5vw;
  }
}
/******** HEADER QUERRIES ******/
@media screen and (max-width: 1024px) {
  .header {
    display: none;
  }
  .header__mobile {
    display: flex;
  }
}
/******** EMPLOYEE BANNER QUERRIES ******/
@media screen and (max-width: 1280px) {
  .employee__banner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 500px;
  }
  .employee__banner__imagery {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex: 1;
  }
  .employee__banner__right {
    grid-row: 2;
    grid-column: 1;
    justify-content: flex-start;
  }
  .employee__banner__text {
    max-width: unset;
  }
  .employee__banner__headline, .employee__banner__button {
    font-size: 16px;
  }
}
/******** FOOTER QUERRIES ******/
@media screen and (max-width: 1037px) {
  .footer__main {
    display: flex;
    flex-direction: column;
  }
  .footer__secondary {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__ul {
    flex-direction: column;
  }
  .footer__cc {
    margin: 50px 0 0 0;
    flex-flow: row-reverse;
  }
  .footer__lines {
    margin: 0 10px 0 0;
  }
  .footer__chapter {
    max-width: unset;
  }
}/*# sourceMappingURL=style.css.map */